<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="salas_13@hotmail.com">
        <network host="smtpserver1"
		  port="25"
		  userName="salas_13@hotmail.com"
		  password="secret"
		  defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>